@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

h1{
    /*background-color: var(--accent-color);*/
    font-size: xx-large;
    text-align: center;
    padding: 1%;
    /*border-style: outset;*/
    /*font-family: 'Permanent Marker', cursive;*/
    /*font-family: 'Press Start 2P', cursive;*/
    /*color: var(--text-color);*/
}