<mat-sidenav-container>
    <mat-sidenav #sidenav>
        
        <mat-toolbar>
            <mat-toolbar-row (click)="change_content('Home'); sidenav.close()">
                <span>Home</span>
                <span class="spacer"></span>
                <mat-icon class="icon">chevron_right</mat-icon>
            </mat-toolbar-row>
            
            <mat-toolbar-row (click)="change_content('Profile'); sidenav.close()">
                <span>Profile</span>
                <span class="spacer"></span>
                <mat-icon class="icon">chevron_right</mat-icon>
            </mat-toolbar-row>

            <mat-toolbar-row (click)="change_content('Projects'); sidenav.close()">
                <span>Projects</span>
                <span class="spacer"></span>
                <mat-icon class="icon">chevron_right</mat-icon>
            </mat-toolbar-row>

            <mat-toolbar-row (click)="change_content('Contact'); sidenav.close()">
                <span>Contact</span>
                <span class="spacer"></span>
                <mat-icon class="icon">chevron_right</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
    
    </mat-sidenav>
        
    <mat-sidenav-content>

        <app-header></app-header>

        <!-- Content to display: -->
        <div [ngSwitch]='content' color=primary>
            <app-profile *ngSwitchCase="'Profile'" [images]='imageDetails'></app-profile>
            <app-projects *ngSwitchCase="'Projects'"></app-projects>
            <app-contact *ngSwitchCase="'Contact'"></app-contact>
            <app-home *ngSwitchDefault [image]='getHomeImage()'></app-home>
        </div>

        <button (click)="opened=!opened">Toggle Opened</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">Close</button>
        <button (click)="sidenav.toggle()">Toggle</button>

        <app-footer></app-footer>

    </mat-sidenav-content>
</mat-sidenav-container>
