<mat-sidenav-container color='primary'>
    <mat-sidenav #sidenav>
        
        <mat-toolbar color='primary'>
            <mat-toolbar-row (click)="log('Home')">
                <span>Home</span>
                <span class="spacer"></span>
                <mat-icon class="icon">chevron_right</mat-icon>
            </mat-toolbar-row>
            
            <mat-toolbar-row (click)="log('Profile')">
                <span>Profile</span>
                <span class="spacer"></span>
                <mat-icon class="icon">chevron_right</mat-icon>
            </mat-toolbar-row>

            <mat-toolbar-row (click)="log('Projects')">
                <span>Projects</span>
                <span class="spacer"></span>
                <mat-icon class="icon">chevron_right</mat-icon>
            </mat-toolbar-row>

            <mat-toolbar-row (click)="log('Contact')">
                <span>Contact</span>
                <span class="spacer"></span>
                <mat-icon class="icon">chevron_right</mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
    
    </mat-sidenav>

        
    <mat-sidenav-content>Main
        <button (click)="opened=!opened">Toggle Opened</button>
        <button (click)="sidenav.open()">Open</button>
        <button (click)="sidenav.close()">Close</button>
        <button (click)="sidenav.toggle()">Toggle</button>
    </mat-sidenav-content>
</mat-sidenav-container>
