mat-sidenav-container, mat-toolbar {
  height: 100%
}

mat-sidenav, mat-sidenav-content{
  padding: 16px;
}

mat-sidenav{
  /*background-color: var(--accent-color);*/
  width: 200px;
}

mat-toolbar{
  /*background-color: var(--accent-color);*/
}

mat-toolbar-row{
  cursor: pointer;
}

mat-toolbar-row:hover *{
  /*background-color: var(--accent-color);*/
  /*color: var(--text-color);*/
  font-size: x-large;
}

mat-toolbar-row:hover {
  /*background-color: var(--accent-color);
  color: var(--text-color);*/
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}
