
mat-grid-tile:hover{ background-color: var(--tertiary-color); }

mat-grid-tile{
    margin: 5%;
}

mat-grid-tile-header{
    font-size: x-large;
}

/* * {
    width: 100%;
}

mat-grid-tile {
    border-style: solid;
}

.repo-language{
    background-color: var(--tertiary-color);
    font-size: small;
}

.repo-name{
    font-size: x-large;
} */